body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 2%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.heading{
    color: orangered;
}
.half-width{
    display: flex;
    width: 100%; 
    margin-bottom: 100px;
}
section img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    width: 700%;
    
}
.person-me img{
    width: 50%;
}
.petro{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
#section-three{
    text-align: center;
}
.last-para{
    text-align: center;
}
.section-last{
    padding-left: 5%;
    box-shadow: 5px 10px 30px;
    border-radius: 10%;
    margin-top: 50PX;
}
.section-buttom{
    margin-left: 0;
    border-radius: 10px;
    background-color: wheat;
    width: 100%;
}
.div-one{
    margin-left: 10px;
}
.div-two{
    margin-left: 300px;
}
.div-three{
    margin-left: 400px;
}